{% extends 'base.html' %}
{% block head %}
<title>CHOOSE DRIVER</title> <!--This title shows up on the browser tab-->
{% endblock %}
<h1>CHOOSE A DRIVER</h1>
<div class= "wrapper">
<select size="5" class="driverlist">
  <option>Alex 4.7★    ETA:5 min    Ride Share Available    $14.34</option>
    <option>Cameron 5★    ETA:7 min    Ride Share Unavailable    $19.77</option>
      <option>Dylan 4.9★   ETA:9 min    Ride Share Unavailable    $22.32</option>
    <option>Erin 4.8★   ETA:10 min    Ride Share Unavailable    $24.98</option>
    <option>Finn 4.8★   ETA:12 min    Ride Share Unavailable    $30.05</option>
</select>
  <input class="RequestButton" type="submit" name="REQUESTBUTTON"  value="REQUEST" style="font-size:20px;"/> 
  </div>
</div>
{% endblock %}