{% extends 'base.html' %}

{% block head %}
<title>SIGNUP</title>
{% endblock %}

{% block body %}
<h1>CREATE ACCOUNT</h1>
<div class="content">
  <form action="/" method="POST" class="content" >
    <input type="text" name="cardname" id="cardname" placeholder="Cardholder's Name">
    <input type="number" name="cardnumber" id="cardnumber" placeholder="Card Number">
    <input type="date" name="expdate" id="expdate" placeholder="experation date">
    <input type="number" name="cvc" id="cvc" placeholder="CVC">
    <button type="submit" value="creatact">CREATE ACCOUNT</button>
  </form>
  </div>
{% endblock %}