{% extends 'base.html' %}
{% block head %}
<title>CONFIRMATION</title> <!--This title shows up on the browser tab-->
{% endblock %}
<h1>ESAARI</h1>
<div class="wrapper">

      <h2>Your Passenger(s): Ellen, Paige</h2>
      <h2>Ride Sharing is Enabled.</h2>
      <h2>Pickup Location: 5910 S Clark St, Chicago, IL 60660 </h2>
      <h2>Destination: 1200 S Wacker Drive, Chicago, IL 60605</h2>
      <h2>Estimated Time to Destination: 36 min</h2>
      <h2>Earnings: $24.98</h2>

  </div>

  {% endblock %}