<!DOCTYPE html>
<html lang="en">

<head>
  <title>Uber</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>ESAARI</h1>
  <div class='wrapper'>
    <div class="box1">
      <div class="vertical-center">
        <button>Login</button>
      </div>
    </div>
    <div class="box2">
      <div class="vertical-center">
        <button>Sign-up</button>
      </div>
    </div>
  </div>
</body>

</html>