{% extends 'base.html' %}

{% block head %}
<title>REQUEST</title>
{% endblock %}

{% block body %}
<h1>Welcome, Driver!</h1>
<div class="content">
<form action="{{ url_for('potential')}}" method="POST" class="content" >
    <b>Please set your current location:</b>
    <br>
    <input type="text" name="Current Location" id="driverStartingLocation" placeholder="Starting Location">
    <br>
    <b>Please set the maximum radius you're willing to drive today:</b>
    <br>
    <input type="number" name="Driver Radius" id="driverRadius" placeholder="0">
    <b>miles</b>
    <button type="submit" value="driverLocation">Submit</button>
</form>
</div>
{% endblock %}