{% extends 'base.html' %}

{% block head %}
<title>RATE</title>
{% endblock %}

{% block body %}
<h1>Rate Your Driver</h1>
<div class="content">
    <div class = "wrapper">
<form action="{{ url_for('ratedriver')}}" method="POST" class="content" >
    <b>How would you rate your ride today?</b>
    <input type="radio" name="driverRideRating" value="1star">1
    <input type="radio" name="driverRideRating" value="2star">2
    <input type="radio" name="driverRideRating" value="3star">3
    <input type="radio" name="driverRideRating" value="4star">4
    <input type="radio" name="driverRideRating" value="5star">5
    <button type="submit" value="passengerRating">Submit</button>
</form>
</div>
</div>
{% endblock %}