{% extends 'base.html' %}

{% block head %}
<title>REQUEST</title>
{% endblock %}

{% block body %}
<h1>Request Ride</h1>
<div class="content">
  <div class = "wrapper">
<form action="{{ url_for('selectdriver')}}" method="POST" class="content" >
    <b>Starting Location</b>
    <input type="text" name="Starting Location" id="riderStartingLocation" placeholder="starting location">
    <b>Ending Location</b>
    <input type="text" name="Ending Location" id="riderEndingLocation" placeholder="ending location">
    <b>Number of Passengers</b>
    <input type="number" name="Number of Passengers" id="passengerAmount" min="1" max = "4">
  <button type="submit" value="request_ride">Request Ride</button>
</form>
</div>
</div>
{% endblock %}